In [69]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [70]:
heart_data=pd.read_csv('data.csv')
heart_data.head()

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Target
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [71]:
heart_data.tail()

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Target
265,265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [72]:
heart_data.shape

(270, 15)

In [73]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    270 non-null    int64
 1   Age                      270 non-null    int64
 2   Sex                      270 non-null    int64
 3   Chest pain type          270 non-null    int64
 4   BP                       270 non-null    int64
 5   Cholesterol              270 non-null    int64
 6   FBS over 120             270 non-null    int64
 7   EKG results              270 non-null    int64
 8   Max HR                   270 non-null    int64
 9   Exercise angina          270 non-null    int64
 10  ST depression            270 non-null    float64
 11  Slope of ST              270 non-null    int64
 12  Number of vessels fluro  270 non-null    int64
 13  Thallium                 270 non-null    int64
 14  Target                   270 non-null    object
dtypes: float64(1), int64(13), object(1)
memory usage: 31.8+ KB

In [74]:
heart_data.describe()

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,134.500000,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,78.086491,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,0.000000,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,67.250000,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,134.500000,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,201.750000,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,269.000000,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [75]:
heart_data.isnull().sum()

index                      0
Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Target                     0
dtype: int64

In [76]:
heart_data['Target'].value_counts()

Absence     150
Presence    120
Name: Target, dtype: int64

In [77]:
x=heart_data.drop(['Target'],axis=1)
y=heart_data['Target']
print(x)
print(y)

     index  Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  \
0        0   70    1                4  130          322             0
1        1   67    0                3  115          564             0
2        2   57    1                2  124          261             0
3        3   64    1                4  128          263             0
4        4   74    0                2  120          269             0
..     ...  ...  ...              ...  ...          ...           ...
265    265   52    1                3  172          199             1
266    266   44    1                2  120          263             0
267    267   56    0                2  140          294             0
268    268   57    1                4  140          192             0
269    269   67    1                4  160          286             0

     EKG results  Max HR  Exercise angina  ST depression  Slope of ST  \
0              2     109                0            2.4            2
1              2     160                0            1.6            2
2              0     141                0            0.3            1
3              0     105                1            0.2            2
4              2     121                1            0.2            1
..           ...     ...              ...            ...          ...
265            0     162                0            0.5            1
266            0     173                0            0.0            1
267            2     153                0            1.3            2
268            0     148                0            0.4            2
269            2     108                1            1.5            2

     Number of vessels fluro  Thallium
0                          3         3
1                          0         7
2                          0         7
3                          1         7
4                          1         3
..                       ...       ...
265                        0         7
266                        0         7
267                        0         3
268                        0         6
269                        3         3

[270 rows x 14 columns]
0      Presence
1       Absence
2      Presence
3       Absence
4       Absence
         ...
265     Absence
266     Absence
267     Absence
268     Absence
269    Presence
Name: Target, Length: 270, dtype: object

In [78]:
le=LabelEncoder()
y=le.fit_transform(y)
print(y)

[1 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 1
 1 0 0 1 0 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 0 1 1 0 1 0 0 0 1 0 1 0 1 1 0 0 0
 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 1 1 1 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 1
 0 1 0 0 0 1 1 0 1 1 1 1 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 1 1 1
 1 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 0 0 1 0 1 1 0 0 1 1 1 1 0 0 1 1 0 0
 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 0 1 1 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1
 0 1 0 0 1 1 0 0 1 1 0 1 0 1 0 1 0 0 1 0 0 1 0 1 1 0 1 1 1 0 1 0 0 0 0 1 1
 0 0 1 1 0 1 0 0 0 0 1]

In [79]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,stratify=y,random_state=2)
print(x.shape,X_train.shape,X_test.shape)

(270, 14) (202, 14) (68, 14)

In [80]:
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\NEELAY\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [81]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(Y_train,X_train_prediction)
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.8762376237623762

In [82]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(Y_test,X_test_prediction)
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.8382352941176471

In [83]:
input_data=(0,70,1,4,130,322,0,2,109,0,2.4,2,3,3)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)

[1]

C:\Users\NEELAY\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [84]:
if prediction[0]==0:
    print('The person does not have heart disease')
else:
    print('The person have heart disease')

The person have heart disease